.popupContainer {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.popupHeader {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.popupItem {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: left;
}

.popupItem p {
    margin: 5px 0;
}

.popupButton {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.popupButton:hover {
    background-color: #0056b3;
}
